* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ================== common ======================= */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 15px 46px;
  background: #2e80ce;
  min-width: 205px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
}
.control {
  display: flex;
  gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
.control-icon--next {
  rotate: 180deg;
}
/* ======================= Header ======================== */
.header {
  padding: 30px 0 110px;
  background: var(--header-bg);
  /* min-height: 100vh; */
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.navbar__link,
.header__action--login {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.navbar__link--active,
.navbar__link:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.navbar__link--active::before {
  position: relative;
  right: 8px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.header__action--signup {
  padding: 8px 19px 8px 20px;
  min-width: 104px;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}
.header__action--login {
  margin-right: 7px;
}
/* ===================== hero =========================== */
.hero {
  margin-top: 76px;
  display: flex;
  align-items: center;
  gap: 113px;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 30px;
}
.hero__content {
  width: 517px;
}
.hero__media {
  flex: 1;
}
.hero__images {
  display: flex;
  align-items: center;
}
.hero__image {
  object-fit: cover;
}
.hero__image--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  position: relative;
  right: -6px;
}
.hero__image--small {
  width: 210px;
  height: 410px;
  border-radius: 0 6px 6px 0;
}
/* ==================== service ======================= */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 18px auto 0;
}
.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  border-radius: 12px;
  width: 570px;
  height: 570px;
  object-fit: cover;
  object-position: 0 -50px;
}
.service-item {
  display: flex;
  padding: 21px;
  gap: 19px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service-item__icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff6fd;
  border-radius: 30px;
}
.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: white;
  transition: 0.25s;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
}
.service__btn {
  margin-top: 55px;
}
/* =============== work =================== */
.work {
  padding: 100px 0;
  background: #f6fbff;
}
.work__desc {
  width: 468px;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}
.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 36px;
}
.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
}
.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  transition: 0.25s;
}
.work-item:hover .work-item__more {
  color: #2e80ce;
  font-weight: 400;
}
.about {
  margin: 170px 0;
}
.about-row {
  display: flex;
  align-items: center;
}
.about__media {
  width: 60%;
  height: 491px;
}
.about-content {
  width: 40%;
}
.about__img {
  position: relative;
}
.about__img--big {
  display: flex;
  width: 512px;
  height: 370px;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}
.about__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  left: 238px;
}
.about__heading {
  width: 470px;
}
.about__desc {
  width: 468px;
}
.about-content__btn {
  margin-top: 38px;
}
/* ============== team =================== */
.team-header {
  text-align: center;
  margin: 0 auto;
}
.team-header__cta {
  margin-top: 38px;
}
.team-list {
  margin-top: 70px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.team-item:hover .team-item__thum {
  transform: scale(1.1);
}
.team-item__thum {
  height: 318px;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.25s;
}
.team-item__img-bg {
  overflow: hidden;
  border-radius: 6px;
  background: #eaf6ff;
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 28px;
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 26px;
}
.team-control {
  margin-top: 38px;
  justify-content: center;
}
/* Install */
.install {
  margin-top: 265px;
}
.install__inner {
  border-radius: 4px;
  height: 427px;
  background: #2e80ce;
  display: flex;
  gap: 160px;
  padding: 0px 70px;
}
.install__img {
  width: 284px;
  height: 522px;
  position: relative;
  top: -95px;
}
.install__heading {
  margin-top: 76px;
  width: 489px;
  color: #fff;
}
.install__desc {
  width: 586px;
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
}
.install__row {
  margin-top: 38px;
  display: flex;
  gap: 28px;
}
/* ==== blog ========== */
.blog {
  margin-top: 170px;
}
.blog__inner {
  display: flex;
  /* align-items: center; */
  gap: 130px;
}
.blog__heading {
  margin-top: 68px;
  width: 470px;
}
.blog__more {
  display: block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  text-decoration-line: underline;
  text-underline-offset: 3.5px;
}
.blog__control {
  margin-top: 28px;
}
.blog__list {
  display: flex;
  gap: 30px;
}
.blog-item__wrap{
  overflow: hidden;
  height: 172px;
}
.blog-item__thumb {
  width: 270px;
  height: 172px;
  object-fit: cover;
  transition: 0.25s;
}
.blog-item {
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
}
.blog-item:hover {
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.blog-item:hover .blog-item__thumb{
  transform: scale(1.1);
}
.blog-item__body{
  margin: 18px 22px 21px;
}
.blog-item__heading {
  display: block;
  width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
}
.blog-item__desc {
  width: 224px;
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 24px;
}
.blog-item__more {
  display: block;
  margin-top: 12px;
  color: #10375C;
  font-size: 1.4rem;
  line-height: normal;
}
.blog-item__more:hover{
  color: #2E80CE;
}
/* appointment */
.appointment{
  margin-top: 170px;
}
.appointment__inner{
  background: #F6FBFF;
  padding: 100px 179px 100px 178px;
  text-align: center;
}
.appointment__heading::after{
  display: block;
  content: "";
  width: 136px;
  height: 2px;
  background: #2E80CE;
  margin: 18px auto 0;
}
.appointment__desc{
  width: 617px;
  margin: 18px auto 0px;
}
.appointment__btn{
  margin-top: 53px;
}